<app-status-response [status]="status" [fullSize]="fullSize"></app-status-response>
<div class="container__form">
  <form [formGroup]="formUserRegister" class="form" (ngSubmit)="validateFormRegister()">
    <h2 class="form__tittle">Registration {{userType|titlecase}}</h2>
    <input-text [controlName]="'name'" [errorMessages]="errorMessages['name']"
      [placeHolder]="'Enter your name'"></input-text>
    <input-text [controlName]="'lastName'" [label]="'last name'" [errorMessages]="errorMessages['lastName']"
      [placeHolder]="'Enter your last name'"></input-text>
    <input-text [controlName]="'idDocument'" [label]="'id document'" [type]="'number'"
      [errorMessages]="errorMessages['idDocument']" [placeHolder]="'Enter your id document'"></input-text>
    <input-text [controlName]="'phoneNumber'" [label]="'phone number'" [type]="'tel'"
      [errorMessages]="errorMessages['phoneNumber']" [placeHolder]="'Enter your id document'"></input-text>
      <input-text [controlName]="'dateOfBirth'" [label]="'date of birth'" [type]="'date'" [errorMessages]="errorMessages['dateOfBirth']"></input-text>
    <input-text [controlName]="'email'"  [type]="'email'" 
    [errorMessages]="errorMessages['email']" [placeHolder]="'Enter a email'"></input-text>
    <input-text [controlName]="'password'" [type]="'password'" [errorMessages]="errorMessages['password']"
      [placeHolder]="'Enter your password'"></input-text>
    <input-text [controlName]="'confirmPassword'" [label]="'confirm password'" [type]="'password'"
      [errorMessages]="errorMessages['confirmPassword']" [placeHolder]="'Confirm your password'">
      <app-control-error [controlName]="'confirmPassword'" [errorMessages]="errorMessages['confirmPassword']"
        [typeError]="'form'"></app-control-error>
    </input-text>
    <div class="form__actions">
      <a class="form__cancel" [routerLink]="['..']">
        <app-button typeBtn="button" [isDisabled]="false" [isBackgroundBlack]="false">Cancel</app-button>
      </a>
      <div class="form__save">
        <app-button typeBtn="submit" [isDisabled]="formUserRegister.status!='VALID'">Register</app-button>
      </div>
    </div>
  </form>
</div>