<div class="field">

  <label class="field__name" [for]="controlName">{{ controlName| titlecase }}:</label>


  <div class="field__select" [attr.aria-expanded]="isDropdownOpen ? 'true' : 'false'" [ngClass]="{ 'field__select--error': formControl.touched && formControl.invalid }">
    <div #toggle class="select__toggle" (click)="toggleDropdown()" (keydown)="onKeydown() ">

      <span class="select__option-text"
        [ngClass]="{'select__option-text--place-holder':selectedOption.name == ''}">{{selectedOption.name == ''?'Select a '+controlName:selectedOption.name}}
      </span>

      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" color="black">
          <path d="M480-360 280-560h400L480-360Z" />
        </svg>
      </span>
      
    </div>
  </div>

  <div #option class="field__options">
    <div *ngIf="isDropdownOpen" class="options">
      <div *ngFor="let option of options" class="options__option" (click)="onOptionSelect(option)"
        (keydown)="onKeydown()">
        {{ option.name }}
      </div>
    </div>
  </div>
  <app-control-error [controlName]="controlName" [errorMessages]="errorMessages"></app-control-error>

</div>