.header {
    height: 10vh;
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    width: 83vw;
}
@media only screen and (min-width:1023px){
    .header{
        width: 90vw;
    }
  }
  
  button {
    background: none;        /* Quita el fondo */
    border: none;            /* Quita el borde */
    box-shadow: none;        /* Quita las sombras */
    outline: none;           /* Elimina el contorno al hacer clic */
    padding: 0;              /* Quita el padding si no es necesario */
    color: inherit;          /* Hereda el color del texto del contenedor */
    font: inherit;           /* Hereda la fuente */
    cursor: pointer;         /* Cambia el cursor para indicar que es clickeable */
  }