
.header {
    height: 10vh;
    background-color: #3d3358;
    color: #e0e0e0;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    flex-grow: 1;
}