.header {
    height: 10vh;
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    width: 83vw;
}
@media only screen and (min-width:1023px){
    .header{
        width: 90vw;
    }
  }
  