<div class="list-category">

  <div class="list-category__container">

    <div class="list-category__button list-category__button--mobile">
      <a class="link" [routerLink]="['create']">
      <app-button [isDisabled]="false" >
          <span class="link__icon">+ </span>Create
      </app-button>
    </a>
    </div>

    <div class="list-category__pagination">

      <div class="list-category__button list-category__button--desktop">
        <a class="link" [routerLink]="['create']">
        <app-button [isDisabled]="false" >
            <span class="link__icon">+ </span>Create
        </app-button>
      </a>
      </div>

      <div class="list-category__select-params">

        <div class="pagination">
          <span>Page:</span>
          <select class="pagination__parameters" (change)="onPageNumberChange($event)">
            <option *ngFor="let option of (0 | range:pageCategory.totalPages-1)" [value]="option">{{ option+1 }}
            </option>
          </select>
        </div>
        
        <div class="pagination">
          <span>Sort name:</span>
          <select class="pagination__parameters" (change)="onSortDirectionChange($event)">
            <option *ngFor="let option of ['ASC','DESC']" [value]="option">{{ option }}</option>
          </select>
        </div>

        <div class="pagination">
          <span>Size:</span>
          <select class="pagination__parameters" (change)="onPageSizeChange($event)">
            <option *ngFor="let option of (5 | range:15:5)" [value]="option">{{ option }}</option>
          </select>
        </div>

      </div>

    </div>

    <main class="list-category__main-content">
      <div class="list-category__card">
        <div class="list-category__table-wrapper">
          <table class="list-category__custom-table">
            <thead>
              <tr class="list-category__custom-tr">
                <th *ngFor="let item of ['Id','Name','Description']" class="list-category__table-header text--start"
                  [ngClass]="{ 'text--number': item.includes('Id') }">
                  {{item}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pageCategory.content" class="list-category__custom-tr">
                <td class="list-category__table-data text--number">
                  {{item.id}}
                </td>
                <td class="list-category__table-data text--start">{{item.name}}</td>
                <td class="list-category__table-data text--start">
                  {{item.description}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

  </div>
</div>