<div class="container__form">
  <form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
    <h2 class="form__tittle">Login</h2>
    <input-text [controlName]="'email'"  [type]="'email'" 
    [errorMessages]="errorMessages['email']" [placeHolder]="'Enter your email'"></input-text>
    <input-text [controlName]="'password'" [type]="'password'" [errorMessages]="errorMessages['password']"
      [placeHolder]="'Enter your password'"></input-text>
    <div class="form__actions">
      <a class="form__cancel" [routerLink]="['..']">
        <app-button typeBtn="button" [isDisabled]="false" [isBackgroundBlack]="false">Cancel</app-button>
      </a>
      <div class="form__save">
        <app-button typeBtn="submit" [isDisabled]="loginForm.status!='VALID'">Save</app-button>
      </div>
    </div>
  </form>
</div>