* {
    box-sizing: border-box;
    margin: 0;
}
.container__form {
    margin-top: 4rem;
   display: flex;
   justify-content: center;
    .form {
        width: 75vw;
        border: 1px solid #e5e7eb;   
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
        padding: 1.5rem;
        border-radius: 0.5rem;

        &__tittle {
            color: rgb(0, 0, 0);
            font-size: 1.875rem;
            margin-bottom: 1.25rem;
            text-align: center;
        }

        &__actions {
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 20%;
        }
    }
}

@media only screen and (min-width:1023px){
    .container__form {
        .form {
            width: 25rem;
            
            &__actions {
                gap: 25%;
            }
        }
    }
  }



