<ng-template #createButton>
  <a class="link" [routerLink]="['create']">
    <app-button [isDisabled]="false">
      <span class="link__icon">+ </span>Create
    </app-button>
  </a>
</ng-template>

<div class="list">

  <div class="list__container">

    <div class="list__button list__button--mobile" *ngIf="user?.role?.includes('ADMIN')">
      <ng-container *ngTemplateOutlet="createButton"></ng-container>
    </div>

    <div class="list__pagination" [ngClass]="{ 'list__pagination--admin-mode': user?.role?.includes('ADMIN')}">

      <div class="list__button list__button--desktop" *ngIf="user?.role?.includes('ADMIN')">
        <ng-container *ngTemplateOutlet="createButton"></ng-container>
      </div>

      <div class="list__select-params">
        <app-pagination-params [totalPages]="totalPages" (pageNumberEvent)="onPageNumberChange($event)" (pageSizeEvent)="onPageSizeChange($event)" (sortDirectionEvent)="onSortDirectionChange($event)" [isSortByActive]="sortByOptions.length!=0" >
          <app-filter-select  *ngIf="sortByOptions.length!=0" controlName="Sort by" [data]="sortByOptions" [initialOption]="'product'"   elementSize="medium"  
          (optionSelect)="onSortByChange($event)"></app-filter-select>
        </app-pagination-params>
      </div>

    </div>

    <main class="list__main-content">
      <div class="list__card">
        <div class="list__table-wrapper" appDraggableScroll>
          <table class="list__custom-table">
            <thead>
              <tr class="list__custom-tr">
                
                <th *ngFor="let item of fieldsToShow" class="list__table-header"
                [ngClass]="(textNumberClass(item.name) ? 'text--number' : 'text--start') + ' ' + (item.size === 'small' ? 'list__table-header--small' : item.size === 'medium' ? 'list__table-header--medium' : item.size === 'large' ? 'list__table-header--large' : '')">
                  {{item.name|titlecase}}
                </th>
  
                <th class="list__table-header list__table-header--small text--center" *ngIf="(user?.role?.includes('AUX_BODEGA')||user==null||user?.role?.includes('CLIENT'))&& fieldsToShow.length>4">
                  {{(user==null||user.role.includes('CLIENT')?'add to cart':'supply')|titlecase}}
                </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of elements " class="list__custom-tr">
                <td *ngFor="let field of getFieldsAccessValues()" class="list__table-data"
                  [ngClass]="textNumberClass(field)?'text--number':'text--start' ">
                  
                    <ng-container *ngIf="!isArrayWithThreeElements(get(item, field)); else arrayBlock">
                      <span>{{ get(item, field) }}</span>
                    </ng-container>
                    <ng-template #arrayBlock>
                      <ul>
                        <li *ngFor="let element of get(item, field)">
                          <span class='text--start'>{{ element.name }}</span>
                        </li>
                      </ul>
                    </ng-template>
                
                </td>
                <td class="list__table-data" *ngIf=" (user?.role?.includes('AUX_BODEGA')||user==null||user?.role?.includes('CLIENT')) && isProduct(item)">
             
                  <div class="list__table-button ">
                    <a class="link" [routerLink]="user == null || user.role.includes('CLIENT') ? ['/panel/product', item.id] : ['add-supply']" 
                    [queryParams]="user == null || user.role.includes('CLIENT') ? {} : { id: item.id, name: item.name }">
                      <app-button [isDisabled]="false" >
                        <span class="link__icon">+ </span>
                      </app-button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

  </div>
</div>