.list {
    padding: 1rem 0.5rem;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;

    &__container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    &__button {
        box-sizing: border-box;

        .link {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            gap: 0.5rem;

            &__icon {
                font-size: 1.3rem;
            }
        }
    }

    &__pagination {
        display: flex;
        padding: 0 0.8rem;
        gap: 0.5rem;
        justify-content: end;
    }

    &__select-params {
        display: flex;
        align-items: center;
        justify-content: end;
    }




    &__main-content {
        //  flex: 1 1 0%;
        padding: 0.75rem;
    }

    &__card {
        border: 1px solid #e5e7eb;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    &__table-wrapper {
        position: relative;
        width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            height: 0.4rem;
            background-color: #555555;

        }

        &::-webkit-scrollbar-thumb {
            background: #d2d2d2ce;
            border-radius: 0.25rem;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #d2d2d271;
        }
    }

    &__custom-table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        caption-side: bottom;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    &__custom-tr {
        border-bottom: 1px solid#e5e7eb;

        &:nth-child(even) {
            background-color: #f0eded;
        }

        &:hover td {
            background-color: #15112681;
            color: rgb(255, 255, 255);
        }
    }

    &__table-header {
        height: 2.5rem;
        padding: 0 0.5rem;
        vertical-align: middle;
        font-size: 1.15rem;
        box-sizing: border-box;

        &--small {
            width: 6rem;
        }

        &--medium {
            width: 9rem;
        }

        &--large {
            width: 18rem;
        }
    }

    &__table-data {
        padding: 0.5rem;
        font-size: 1rem;
        height: 9rem;
        vertical-align: middle;
        white-space: wrap;
        //overflow: hidden;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    &__table-button {
        margin: auto;
        width: 3rem;
        vertical-align: middle;
    }
}

.text {
    &--start {
        text-align: start;
    }

    &--number {
        text-align: end;
        justify-content: end;
    }

    &--center {
        text-align: center;
    }
}

@media only screen and (min-width:600px) {
    .list {
        &__pagination {
            &--admin-mode {
                justify-content: space-between;
            }
        }

        &__button {
            &--mobile {
                display: none;
            }

            &--desktop {
                width: 7rem;
            }
        }

        &__params-container {
            display: flex;
            gap: 0.5rem;
        }
    }
}

@media only screen and (max-width:599px) {
    .list {
        &__button {
            &--desktop {
                display: none;
            }

            &--mobile {
                padding: 0 0.8rem;
            }
        }

        &__pagination {
            display: flex;
            flex-direction: column;
        }

        &__params-container {
            height: 4rem;
        }
    }
}