
.user{
    &__button {
        background-color: rgba(0, 0, 0, 0.168);
        border: none;
        cursor: pointer;
        padding: 0.25rem;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        &:hover{
            background-color: rgba(0, 0, 0, 0.068);
        }
        &:active{
            background-color: rgba(0, 0, 0, 0.253);
        }
    }

    &__icon {
        fill: none;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}