.list {
    padding: 1rem 0.5rem;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    &__params-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }

    &__pagination {
        display: flex;
        justify-content: end;
        padding: 0 0.8rem;
        flex-direction: column;
        align-items: flex-end;
        
    }

    &__params--mobile {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    &__main-content {
        padding: 0.75rem;
    }

    &__card {
        border: 1px solid #e5e7eb;
        border-radius: 0.5rem;
        padding: 0.5rem;
        overflow-x: auto;

    }

    &__table-wrapper {
        position: relative;
        width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            height: 0.4rem;
            background-color: #555555;
        }

        &::-webkit-scrollbar-thumb {
            background: #d2d2d2ce;
            border-radius: 0.25rem;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #d2d2d271;
        }
    }

    &__custom-table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        caption-side: bottom;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    &__custom-tr {
        border-bottom: 1px solid#e5e7eb;

        &:nth-child(even) {
            background-color: #f0eded;
        }

        &:hover td {
            background-color: #15112681;
            color: rgb(255, 255, 255);
        }
    }

    &__table-header {
        height: 2.5rem;
        padding: 0 0.5rem;
        vertical-align: middle;
        font-size: 1.15rem;
        box-sizing: border-box;

        &--small {
            width: 6rem;
        }

        &--medium {
            width: 9rem;
        }

        &--large {
            width: 18rem;
        }
    }

    &__table-data {
        padding: 0.5rem;
        font-size: 1rem;
        height: 9rem;
        vertical-align: middle;
        white-space: wrap;
        overflow: hidden;
        word-wrap: break-word;
        overflow-wrap: break-word;

    }

    &__table-button {
        margin: auto;
        width: 3rem;
        vertical-align: middle;
    } 
    &__subtotal {
        font-size: 1.15rem;
        font-weight: bolder;
        padding: 0.3125rem;
    }
    &__text {
        &--start {
            text-align: start;
        }
    
        &--number {
            text-align: end;
            justify-content: end;
        }
    
        &--center {
            text-align: center;
        }
    }
    &__not-found{
        text-align: center;
        padding: 30px;
    }
}


@media only screen and (min-width:600px) {
    .list {
        &__params-container {
            display: flex;
            gap: 0.5rem;
        }

        &__param {
            &--mobile {
                display: none !important;
            }
        }
    }
}

@media only screen and (max-width:599px) {
    .list {
        &__pagination {
            display: flex;
            flex-direction: column;
        }

        &__param {
            &--desktop {
                display: none;
            }
        }


    }


}

@media only screen and (min-width:600px) {
    .list {
        &__params-container {
            display: flex;
            gap: 0.5rem;
        }

        &__subtotal {
            &--mobile {
                display: none !important;
            }
        }
    }
}