<ng-template #subtotalPage>
  <span class="list__subtotal-text">Subtotal: {{total}}
  </span>
</ng-template>





<div class="list">

  <div class="list__container">

    <div class="list__pagination">

      <div class="list__params-container">

        <div class="list__subtotal list__subtotal--desktop">
          <ng-container *ngTemplateOutlet="subtotalPage"></ng-container>
        </div>

        <app-filter-select controlName='category' elementSize="large" [options]="categoryList"
          (optionSelect)="onCategoryFilterChange($event)"></app-filter-select>

        <app-filter-select controlName='brand' elementSize="large" [options]="brandList"
          (optionSelect)="onBrandFilterChange($event)"></app-filter-select>

        <app-pagination-params [totalPages]="userShoppingCart.totalPages" (pageNumberEvent)="onPageNumberChange($event)"
          (pageSizeEvent)="onPageSizeChange($event)" (sortDirectionEvent)="onSortDirectionChange($event)">

          <div class="list__subtotal list__subtotal--mobile">
            <ng-container *ngTemplateOutlet="subtotalPage"></ng-container>
          </div>

        </app-pagination-params>
      </div>
    </div>

    <main class="list__main-content">
      <div class="list__card">
        <div class="list__table-wrapper" appDraggableScroll>
          <table class="list__custom-table">
            <thead>
              <tr class="list__custom-tr">
                <th *ngFor="let item of fieldsToShow" class="list__table-header"
                  [ngClass]="(textNumberClass(item.name) ? 'list__text--number' : 'list__text--start') + ' ' + (item.size === 'small' ? 'list__table-header--small' : item.size === 'medium' ? 'list__table-header--medium' : item.size === 'large' ? 'list__table-header--large' : '')">
                  {{item.name|titlecase}}
                </th>
                <th class="list__table-header"
                  [ngClass]="(textNumberClass('remove') ? 'list__text--number' : 'list__text--start') + ' ' +'list__table-header--small'">
                  remove
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userShoppingCart.content " class="list__custom-tr">
                <td *ngFor="let field of fieldAccessValues" class="list__table-data"
                  [ngClass]="textNumberClass(field)?'list__text--number':'list__text--start' ">
                  <ng-container *ngIf="!isArrayWithThreeElements(get(item, field)); else arrayBlock">
                    <span>{{ field=='amount'&&get(item, field)==0? messageForInsufficientStock(15):get(item, field)
                      }}</span>
                  </ng-container>
                  <ng-template #arrayBlock>
                    <ul>
                      <li *ngFor="let element of get(item, field)">
                        <span class='list__text--start'>{{ element.name }}</span>
                      </li>
                    </ul>
                  </ng-template>
                </td>
                <td class="list__table-data">
                  <div class="list__table-button ">
                    <app-button [isDisabled]="false">
                      <span class="link__icon">-</span>
                    </app-button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

  </div>
</div>