<div class="list">

  <div class="list__container">

    <div class="list__pagination">

      <div class="list__params-container">

        <span class="list__total">Subtotal: {{total}}
        </span>
        <app-filter-select controlName='category' elementSize="large" [options]="categoryList"
          (optionSelect)="onCategoryFilterChange($event)"></app-filter-select>
    
        <app-filter-select controlName='brand' elementSize="large" [options]="brandList"
          (optionSelect)="onBrandFilterChange($event)"></app-filter-select>
    
        <app-pagination-params [totalPages]="userShoppingCart.totalPages" (pageNumberEvent)="onPageNumberChange($event)" (pageSizeEvent)="onPageSizeChange($event)" (sortDirectionEvent)="onSortDirectionChange($event)"></app-pagination-params>
      </div>
    </div>

      <main class="list__main-content">
        <div class="list__card">
          <div class="list__table-wrapper">
            <table class="list__custom-table">
              <thead>
                <tr class="list__custom-tr">
                  <th *ngFor="let item of fieldNames" class="list__table-header"
                    [ngClass]="textNumberClass(item)?'text--number':'text--start' ">
                    {{item|titlecase}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of userShoppingCart.content " class="list__custom-tr">
                  <td *ngFor="let field of fieldAccessValues" class="list__table-data"
                    [ngClass]="textNumberClass(field)?'text--number':'text--start' ">
                    <ng-container *ngIf="!isArrayWithThreeElements(get(item, field)); else arrayBlock">
                      <span>{{ field=='amount'&&get(item, field)==0? messageForInsufficientStock(15):get(item, field) }}</span>
                    </ng-container>
                    <ng-template #arrayBlock>
                      <ul>
                        <li *ngFor="let element of get(item, field)">
                          <span class='text--start'>{{ element.name }}</span>
                        </li>
                      </ul>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>

  </div>
</div>