<div class="list">

  <div class="list__container">

    <div class="list__pagination">
      <div>
        <span>Total: {{total}}</span>
      </div>
      <div class="list__params-container">

          <app-filter-select controlName='category' [options]="categoryList" (optionSelect)="onCategoryFilterChange($event)"></app-filter-select>

          <app-filter-select controlName='brand' [options]="brandList" (optionSelect)="onBrandFilterChange($event)"></app-filter-select>

        <div class="list__params--mobile">

            <app-filter-select controlName='Sort' [data]="['ASC','DESC']" [initialOption]="sortDirection" (optionSelect)="onSortDirectionChange($event)"></app-filter-select>

            <app-filter-select controlName='Page' [data]="(1 | range:userShoppingCart.totalPages)" [initialOption]="page+1" (optionSelect)="onPageNumberChange($event)"></app-filter-select>
        </div>

          <app-filter-select controlName='Size' [data]="(5 | range:15:5)" [initialOption]="size" (optionSelect)="onPageSizeChange($event)"></app-filter-select>
      </div>
    </div>

      <main class="list__main-content">
        <div class="list__card">
          <div class="list__table-wrapper">
            <table class="list__custom-table">
              <thead>
                <tr class="list__custom-tr">
                  <th *ngFor="let item of fieldNames" class="list__table-header"
                    [ngClass]="textNumberClass(item)?'text--number':'text--start' ">
                    {{item|titlecase}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of userShoppingCart.content " class="list__custom-tr">
                  <td *ngFor="let field of getFieldsAccessValues()" class="list__table-data"
                    [ngClass]="textNumberClass(field)?'text--number':'text--start' ">
                    <ng-container *ngIf="!isArrayWithThreeElements(get(item, field)); else arrayBlock">
                      <span>{{ field=='amount'&&get(item, field)==0? messageForInsufficientStock(15):get(item, field) }}</span>
                    </ng-container>
                    <ng-template #arrayBlock>
                      <ul>
                        <li *ngFor="let element of get(item, field)">
                          <span class='text--start'>{{ element.name }}</span>
                        </li>
                      </ul>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>

  </div>
</div>