*{
  margin: 0;
  font-family:  Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
  color: white;
}

.field{
  display: flex;
  flex-direction: column;
  margin: 0 0 1.25rem 0;
  &__name{
    display: flex;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
  }
  &__text-area{
    width: 100%;
    background-color: #745f95;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    padding: 0.75rem;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
    border:none;
    &::placeholder{
        color: rgba(255, 255, 255, 0.579);
    }
    &:focus {
      border: 0.5px solid #ffffff; 
      box-shadow: 0 0 1.5px rgba(255, 255, 255, 0.5);
      outline: none; 
    }
    &--error{
      border: 0.5px solid #ff0000; 
    }
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background: #d2d2d2; 
      border-radius: 0.25rem; 
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  }
  &__error{
    margin-top: 0.25rem;
    font-size: 0.875rem;
    .error{
      &__name{
        color: red;
      }
    }
  }
}







