.alert {

    margin: auto;
    position: fixed;
    z-index: 1000;
    width: 83vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.153);
  
    &__tittle {
      margin-bottom: 0.5rem;
      text-align: center;
    }
  
    &__container {
      width: 50vw;
      border: 1px solid rgb(229, 231, 235);
      box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
      padding: 1.5rem;
      border-radius: 0.5rem;
      max-width: 15rem;
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    &__button{
      width: 45%;
    }
    &__actions {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 1rem;
    }
    &--full-size{
      width: 100vw !important;
      height: 100vh !important;
    }
  }
  
  
  
  @media only screen and (min-width:1023px) {
    .alert {
      width: 90vw;
    }
  }