
<form  [formGroup]="formCategory" class="form" (ngSubmit)="validateCategory($event)">
    <h2 class="form__tittle">Category registration form</h2>
    <input-text [controlName]="'name'" [errorMessages]="errorNameMessages" [placeHolder]="'Enter category name'">
    <p>error</p>
    </input-text>
    <text-area [controlName]="'description'" [errorMessages]="errorDescriptionMessages" [placeHolder]="'Enter category description'"></text-area>
    <div class="form__actions">
        <div class="form__cancel" [routerLink]="'panel/home'">
            <app-button typeBtn="button">Cancel</app-button>
        </div>
        <div class="form__save">
            <app-button typeBtn="submit" [isDisabled]="formCategory.invalid">Save</app-button>
        </div>
    </div>
</form>
