html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    font-family: 'calibri';
    box-sizing: border-box;
}